body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ccc;
}

div, body {
    box-sizing: border-box;
}

.grid {
    display: grid;
    background-color: aliceblue;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 200px);
    grid-auto-rows: 80px;
    grid-auto-flow: column;
    grid-auto-columns: 100px;
    border: 0.3rem solid black;
    gap: 0.6rem;
    padding: 20px;
    width: 90vh;
    margin: auto;
    margin-top: 30px;
}

.grid-item {
    background-color: #48e;
    padding: 0.6rem;
    font-size: 2.4rem;
    color: aliceblue;
}
