body{
    margin: 0;
    font-family: 'Times New Roman';
    position: relative;
}

h2{
    font-size: 0.7rem;
    margin: 0;
}

p{
    font-size: 0.7rem;
    margin: 0;
}

.overlay{
    background: linear-gradient(to top, #fff, transparent);
    position: absolute;
    z-index: 20;
    width: 100%;
    bottom: 0;
    height: 100%;
}

.contenedor{
    padding: 8rem;
    background-color: blue;
}

.box{
    height: 3rem;
    width: 8rem;
    background-color: white;
    position: fixed;
    right: 0;
    border: 0.13rem solid black;
    border-right: 0;
    box-shadow: 0 0 2rem black;
    z-index: 30;
}

.box-fixed{
    height: 3rem;
    width: 8rem;
    background-color: red;
    position: sticky;
    top: 1.87rem;
    z-index: 40;
    box-sizing: border-box;
}

.first{
    top: 6.25rem;
}

.last{
    top: 10.62rem;
}
