body{
    margin: 0;
    color: #eee;
    background-color: #222;
}

h2{
    text-align: center;
    font-family: 'Times New Roman';
    font-size: 2rem;
    margin-bottom: 0.55rem;
    margin: 0;
    text-transform: uppercase;
    font-weight: 100;
    padding: 1rem;
}

form{
    background-color: transparent;
    padding: 1.25rem;
    max-width: 30.5rem;
    margin: auto;
    margin-top: 3.5rem;
    box-shadow: 0 0 2rem #000;
}

.form_input{
    padding: 0.625rem 1.25rem;
}

input, textarea{
    width: 100%;
    box-sizing: border-box;
    padding: 0.375rem 0.75rem;
    border: none;
    border: 0.06rem solid #666;
    box-shadow: 0 0 0.2rem #eee;
    background-color: transparent;
    border-radius: 0.6rem;
    color: #eee;
}

textarea{
    min-width: 100%;
    resize: none;
    min-height: 6.25rem;
    max-height: 12.5rem;
    font-family: 'Times New Roman'; 
}
