body {
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}

.content {
    display: flex;
    justify-content: space-around;
}

div, body {
    box-sizing: border-box;
}

.flexbox {
    display: flex;
    flex-flow: row wrap;
    border: 0.1rem solid black;
    margin: 1.5rem;
    justify-content: space-evenly;
    height: 22rem;
    width: 22rem;
    align-items: start;
    align-content: space-between;
}

.flex-item {
    background-color: #800;
    color: aliceblue;
    font-size: 2.6rem;
    text-align: center;
    direction: rtl;
    width: 7rem;
}

.flex-item:first-child{
    background-color: #180;
}

.flex-item:last-child {
    background-color: black;
}

.flex-2 {
    display: flex;
    border: 0.1rem solid black;
    margin: 1.5rem;
    height: 22rem;
    width: 22rem;

}

.flex-solin {
    background-color: burlywood;
    width: 7rem;
    font-size: 2.6rem;
    text-align: center;
    margin: auto;
}

h2 {
    text-align: center;
}
