body{
    background-color: black;
    font-family: sans-serif;
    color: aliceblue;
}

.card_img{
    margin: 0;
    width: 150px;
    padding: 10px 0 20px 0;
    filter: drop-shadow(0 0 4px black) ;
}

.card{
    background: coral;
    text-align: center;
    width: 400px;
    margin: auto;
    margin-top: 50px;
    box-shadow: 0 0 30px blanchedalmond;
}

.card_title{
    padding-top: 10px;
    font-size: 22px;
    margin: 0;
    letter-spacing: 4px;
}

.card_subtitle{
    font-size: 14px;
    font-weight: 100;
    letter-spacing: 2px;
    font-family: 'Times New Roman';
    font-style: italic;
}

.card_content{
    background-color: aliceblue;
    color: black;
    text-align: justify;
    padding: 10px 10px 5px 10px;
    font-family: 'Lucida Sans';
}

.card_description{
    color: black;
    text-align: left;
    margin: 10px;
    padding: 0;
    font-family: 'Times New Roman';
    font-size: 15px;
}
