body{
    background-color: black;
    font-family: sans-serif;
    color: aliceblue;
}

.card{
    background: coral;
    text-align: center;
    width: 400px;
    margin: auto;
    margin-top: 50px;
}

h1{
    padding-top: 10px;
    font-size: 22px;
    margin: 0;
    letter-spacing: 4px;
}

h2{
    font-size: 14px;
    font-weight: 100;
    letter-spacing: 2px;
    font-family: 'Times New Roman';
    font-style: italic;
}

p{
    background-color: aliceblue;
    color: black;
    text-align: justify;
    padding: 10px 50px 20px 10px;
    font-family: 'Lucida Sans';
}
