body {
    margin: 0;
    font-family: Verdana;
}

div, body {
    box-sizing: border-box;
}

.flexbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 60rem;
    margin: auto;
}

.bloque {
    padding: 1rem;
    min-width: 15rem;
    background-color: #7da6f1;
    display: inline-block;
    flex: 1;
    font-size: 2rem;
    margin: 0.5rem;
}
