body {
    margin: 0;
    font-family: 'Times New Roman';
}

.flexbox {
    display: flex;
    flex-direction: row;
}

.flex-item {
    width: 20rem;
    background-color: #a22;
    margin: 0.4rem;
    color: aliceblue;
    font-size: 2rem;
    text-align: center;
}

.flex-item:first-child {
    background-color: #f56;
}

.flex-item:last-child {
    background-color: black;
}
