body {
    margin: 0;
}

body, div {
    box-sizing: border-box;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 250px);
    grid-template-rows: repeat(1, 150px);
    gap: 10px;
    padding: 10px;
    justify-items: center;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    height: 350px;
    border: 2px solid black;
    margin: 20px;
}

.grid-item:first-child {
    justify-self: center;
    align-self: center;
}

.grid-item {
    background-color: #46e;
    font-size: 2rem;
    max-width: 100%;
    border-radius: 1rem;
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.grid-item:hover {
    opacity: 0.74;
}
