body {
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}

div, body {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
}

.container {
    max-width: 100%;
    aspect-ratio: 16/9;
    margin: auto;
}

video {
    max-width: 100%;
}
