* {
    box-sizing: border-box;
}

body {
    margin: 0%;
    background-color: #ccc;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

div {
    box-sizing: border-box;
}

.crecedor {
    height: 200vh;
}

.container {
    height: 100vh;
    overflow-y: scroll;
    scroll-timeline: --container-scroll;
}

.box {
    background-color: #fff;
    border: 4px solid #48e;
    border-radius: 39px;
    padding: 6px;
    position: fixed;
    top: 0;
    width: 100%;
}

.barra {
    padding: 40px;
    background-color: #48e;
    border-radius: 30px;
    width: 0%;
    animation-name: llenar-barra;
    animation-fill-mode: both;
    animation-timing-function: linear;
    animation-timeline: --container-scroll;
}

.barra:active {
    animation-play-state: paused;
}

@keyframes llenar-barra {
    from {
        width: 0%;
        background-color: #f33;
    }
    to {
        width: 100%;
    }
}
