    .box{
        width: 100px;
        height: 100px;
        background: green;
        margin: 15px;
    }

    .box-default{
        padding: 25px;
        border: 10px solid black;

    }

    .box-new{
        box-sizing: border-box;
        padding: 25px;
        border: 10px solid black;
    }