body {
    margin: 0%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #222;
    display: flex;
}

.text-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
    filter: drop-shadow(0 0 13px #fff9)
    drop-shadow(0 0 2px #fff9)
    drop-shadow(0 0 6px #fff9)
    drop-shadow(0 0 1px #fff);
}

.text {
    color: #fff;
    letter-spacing: 4px;
    animation: grow 1s both steps(7);
    overflow: hidden;
    position: relative;
}

.text::selection {
    background-color: transparent;
}

.text::before {
    content: '';
    width: 1px;
    height: 100%;
    background-color: #fff;
    position: absolute;
    right: 0;
    border-radius: 4px;
    animation: titilar .36s infinite alternate;
}

@keyframes grow {
    from {
        width: 0%;
    }

    to {
        width: 100%;
    }
}

@keyframes titilar {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
