body {
    margin: 0;
    font-family: Georgia;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    justify-content: center;
    background-color: #ededed;
}

div, body, nav, ul, footer, header {
    box-sizing: border-box;
}

.main-wrapper, header, footer {
    width: 100%;
}

h1,h2,h3,h4 {
    text-wrap: balance;
}

p {
    text-wrap: pretty;
}

/*HEADER*/

.header {
    background-color: #338f38;
}

.main-wrapper {
    max-width: 1400px;
}

.main-navbar ul {
    display: flex;
    padding: 0;
    justify-content: center;
}

.main-navbar li {
    list-style: none;
    margin: 0.3rem;
}

.main-navbar a {
    color: aliceblue;
    display: inline-block;
    padding: 0.8rem 0.9rem;
    font-size: 1.3rem;
    font-weight: bold;
    border-radius: .5rem;
    transition: opacity .5s, background-color .5s, border-radius .8s;
}

nav a {
    text-decoration: none;
}

.main-navbar a:hover {
    opacity: 0.7;
    background-color: #ededed;
    color: #338f38;
    border-radius: .7rem;
}

/*MAIN SECCTION*/

.main-wrapper {
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

aside, main {
    padding: 0.9rem 1.3rem;
    flex-basis: 0;
    background-color: #fff;
    flex: 1;
    min-width: 250px;
}

main {
    min-width: 300px;
    flex-grow: 1;
}

.main-wrapper aside {
    flex-grow: 1;
}

.secundary-navbar {
    min-width: 10rem;
    text-align: center;
}

.secundary-navbar ul {
    padding: 0;
}

.secundary-navbar a {
    color: #338f38;
    border-radius: 0.4rem;
    transition: background-color .6s, border-radius .8s, color .6s;
}

.secundary-navbar a:hover {
    background-color: #338f38;
    color: #fff;
    border-radius: 0.8rem;
    padding: 0.4rem;
}

.secundary-navbar li {
    list-style: none;
    padding: 0.3rem 0.6rem;
}

aside:last-child {
    min-width: 10rem;
}

footer {
    margin: auto;
    background-color: #333;
    color: aliceblue;
    padding: 2rem;
    font-weight: bold;
    text-align: center;
}

@media screen and (max-width: 800px) {
    aside:last-child {
        width: 100%;
    }
    .main-navbar ul{
        flex-direction: column;
        gap: 10px;
        align-items: center;
    }
}

@media screen and (max-width: 400px) {
    .main-wrapper {
        flex-direction: column;
    }
    }

    img {
        display: block;
        width: 15rem;
        max-width: 100%;
        height: auto;
        margin: auto;
    }
