body {
    background-color: #222;
    margin: 0%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-evenly;
    align-items: center;
}

.btn {
    padding: 10px 40px;
    background-color: transparent;
    color: #fff;
    border-radius: 6px;
    letter-spacing: 3px;
    position: relative;
}

/*---WAVE BUTTON---*/

.btn-1 {
    border: 1px solid #0bbc64;
    overflow: hidden;
}

.btn-1::before {
    content: '';
    background-color: #0bbc64;
    display: block;
    height: 200%;
    width: 140%;
    position: absolute;
    z-index: -1;
    transition: top .6s, left .6s, margin .6s;
    border-radius: 50%;
    top: 100%;
    left: 30%;
}

.btn-1:hover::before {
    top: -35%;
    left: -20%;

}

/*---NEON BUTTON---*/
.button-container:has(.btn-2) {
    filter: drop-shadow(0 0 20px #0bbc64)
    drop-shadow(0 0 2px #0bbc64);
}


.btn-2 {
    border: 1px solid #fff3;
    color: #fff3;
}

.btn-2:hover {
    border-color: #0bbc64;
    color: #76d4a5;
    box-shadow: 0 0 6px #0f6a3e, 0 0 16px #0f6a3e;
    text-shadow: 0 0 9px #09e476, 0 0 2px #71cfa0;
    animation: parpadear 3s infinite alternate backwards;
}

.btn-2::before {
    content: '';
    background-color: #0bbc64;
    display: block;
    height: 1px;
    width: 20%;
    position: absolute;
    z-index: -1;
    left: 0;
    right: 0;
    top: -26px;
    opacity: 0;
    margin: auto;
    transition: top .6s, opacity .6s, width .6s;
    animation: parpadear-linea 3s infinite alternate backwards;
}

.btn-2:hover::before {
    opacity: 1;
    top: -5px;
    width: 80%;
}

.btn-2::after {
    content: '';
    background-color: #0bbc64;
    display: block;
    height: 1px;
    width: 10%;
    position: absolute;
    z-index: -1;
    left: 0;
    right: 0;
    top: -19px;
    opacity: 0;
    margin: auto;
    transition: top .6s, opacity .6s, width .6s;
    animation: parpadear-linea 3s infinite alternate-reverse backwards;
}

.btn-2:hover::after {
    opacity: 1;
    top: -9px;
    width: 50%;
}

@keyframes parpadear {
    0% {
        color: #fff3;
        border: 1px solid #fff3;
        text-shadow: none;
        box-shadow: none;
    }

    25% {
        border-color: #0bbc64;
        color: #76d4a5;
        box-shadow: 0 0 6px #0f6a3e, 0 0 16px #0f6a3e;
        text-shadow: 0 0 9px #09e476, 0 0 2px #71cfa0;
    }

    30% {
        color: #fff3;
        border: 1px solid #fff3;
        text-shadow: none;
        box-shadow: none;
    }

    35% {
        color: #76d4a5;
        text-shadow: 0 0 9px #09e476, 0 0 2px #71cfa0;
    }

    46% {
        color: #fff3;
        border: 1px solid #fff3;
        text-shadow: none;
        box-shadow: none;
    }

    60% {
        border-color: #0bbc64;
        box-shadow: 0 0 6px #0f6a3e, 0 0 16px #0f6a3e;
    }

    78% {
        color: #fff3;
        border: 1px solid #fff3;
        text-shadow: none;
        box-shadow: none;
    }

    100% {
        color: #76d4a5;
        text-shadow: 0 0 9px #09e476, 0 0 2px #71cfa0;
    }
}

@keyframes parpadear-linea {
    0% {
        background-color: #0bbc64;
        box-shadow: 0 0 6px #0f6a3e, 0 0 16px #0f6a3e;
    }

    25% {
        background-color: #fff3;
        box-shadow: none;
    }

    30% {
        background-color: #fff3;
        box-shadow: none;
    }

    35% {
        background-color: #0bbc64;
        box-shadow: 0 0 6px #0f6a3e, 0 0 16px #0f6a3e;
    }

    46% {
        background-color: #fff3;
        box-shadow: none;
    }

    60% {
        background-color: #0bbc64;
        box-shadow: 0 0 6px #0f6a3e, 0 0 16px #0f6a3e;
    }

    78% {
        background-color: #fff3;
        box-shadow: none;
    }

    100% {
        background-color: #0bbc64;
        box-shadow: 0 0 6px #0f6a3e, 0 0 16px #0f6a3e;
    }
}

@media (prefers-reduced-motion: reduce) {
    .btn .btn::before, .btn::after {
        animation: none;
    }
}
