* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
}

div {
    box-sizing: border-box;
}

.box {
    margin: 20px;
    background-color: #fff;
    border: 4px solid #48e;
    border-radius: 39px;
    padding: 6px;
}

.barra {
    padding: 40px;
    background-color: #48e;
    border-radius: 30px;
    width: 0%;
    animation-name: llenar-barra;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-fill-mode: both;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.barra:active {
    animation-play-state: paused;
}

@keyframes llenar-barra {
    from {
        width: 0%;
        background-color: #f33;
    }
    to {
        width: 100%;
    }
}
