div{
    padding: 2.4rem;
}

h1{
    box-shadow: 0 0 0.4rem black;
    text-align: center;
    border: 0.2rem solid #444;
}

h1::first-letter{
    color: red;
    font-size: 5rem;
    letter-spacing: -1rem;
}

div::first-line{
    color: red;
    font-weight: bold;
}

div::selection{
    background-color: red;
    color: white;
}

input::placeholder{
    color: #444;
    font-family: 'Times New Roman', Times, serif;
    background-color: aliceblue;
    padding: 1.5rem;
}

li::marker{
    color: red;
}

li::before{
    content: 'Antes';
    color: red;
}

li::after{
    content: 'Despues';
    color: blue;
}
