* {
    box-sizing: border-box;
}

body, div, ul, li, a, h1, h2 {
    margin: 0;
    padding: 0;
}

label, .sidebar {
    user-select: none;
}

body {
    --bg-color: #e8e6e6;
    --sidebar-color: #223353;
    --dark-color: #3f70a3;
    --text-color: #d7b039;
    background-color: var(--bg-color);
    font-family: monstserrat;
}

.sidebar {
    background-color: var(--sidebar-color);
    position: fixed;
    height: 100dvh;
    width: clamp(220px, 20vw, 300px);
    font-size: clamp(0,9rem, 2.2vw, 3rem);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px 0 30px 6px;
}

.sidebar_nav {
    flex: 1;
    display: flex;
}

.sidebar_nav ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.sidebar_item {
    list-style: none;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: var(--dark-color);
    border-radius: 36px 0 0 36px;
    position: relative;
}

.sidebar_item a {
    color: inherit;
    text-decoration: none;
    font-size: .9rem;
    padding-right: 6px;
}

.sidebar_item span {
    padding: 12px;
    font-size: 2rem;
}

.sidebar_item:hover {
    background-color: var(--bg-color);
    color: var(--sidebar-color);
}

.sidebar_item::before,
.sidebar_item::after {
    content: '';
    background-color: var(--bg-color);
    position: absolute;
    right: 0;
    width: 18px;
    height: 18px;
    background-color: transparent;
}

.sidebar_item:hover::before {
    top: -18px;
    border-bottom-right-radius: 25px;
    box-shadow: 4px 4px 0 4px var(--bg-color);
}

.sidebar_item:hover::after {
    bottom: -18px;
    border-top-right-radius: 25px;
    box-shadow: 4px -4px 0 4px var(--bg-color);
}

/*Sidebar picture styles*/

.sidebar_picture {
    position: relative;
    z-index: 10;
}

.sidebar_picture img {
    width: clamp(4rem, 100%, 20rem);
    margin: auto;
    opacity: .82;
}

/*Sidebar profile menu styles*/

.sidebar_profile img {
    border-radius: 10%;
    width: 2rem;
}

.item--profile .profile_option {
    font-size: .8rem;
    padding: 0 12px 0 9px;
    color: inherit;
}

.item--profile {
    width: fit-content;
    margin: 12px;
    color: var(--text-color);
}

.item--profile:hover {
    border-radius: 0 20px 20px 0;
    color: var(--sidebar-color);
}

.item--profile:hover img {
    opacity: .7;
}

.item--profile::before, .item--profile::after {
    display: none;
}

input[type='checkbox'] {
    display: none;
}

.sidebar_form {
    position: absolute;
    z-index: 20;
    right: -1rem;
}

.sidebar label {
    position: relative;
    color: var(--dark-color);
    background-color: var(--bg-color);
    font-size: 2rem;
    border-radius: 50%;
    padding: .4rem;
}

.sidebar label::before, 
.sidebar label::after {
    content: '';
    background-color: var(--bg-color);
    position: absolute;
    width: 10px;
    height: 25px;
    background-color: transparent;
}  

.sidebar label::before {
    top: -25px;
    left: 19px;
    border-bottom-right-radius: 25px;
    box-shadow: 4px 4px 0 4px var(--bg-color);
}
