/*Selector por atributo*/

img[src="https://tse3.mm.bing.net/th/id/OIP.ktEJLXq5zZc7tgeRIOBYzwHaEx?cb=ucfimg2&ucfimg=1&rs=1&pid=ImgDetMain&o=7&rm=3"]{
    width: 33rem;
}

/*Selector Descendiente*/

ul li{
    color: #666;
}

/*Selector por hijo directo (>)*/

li > em{
    color: blue;
}

/*Selector de hermano adyacente*/

h1+p{
    color: orange;
}

/*Selector por hermanos generales*/

h1 ~ p{
    color: orange;
}
