td, th{
    text-align: center;
    padding: 0.5rem;
    font-family: sans-serif;
    font-size: 1.2rem;
    border: none;
    border-bottom: 0.1rem solid black;
    border-right: 0.1rem solid black;
    box-shadow: 0 0 1rem #eee;
}

td{
    color: #444;
}

table{
    width: 100%;
    border-spacing: 0.8rem;
    border: 0.15rem ridge #444;
    max-width: 31.25rem;
    margin: auto;
    margin-top: 3rem;
}
