* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: sans-serif;
    padding: 20px;
}

.box {
    margin: 60px auto;
    font-size: 30px;
    font-size: clamp(2.4rem, 2.2vw, 4rem);
    padding: 0 40px;
    border: 6px solid black;
    width: calc(50% + 500px);
}
