body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

div, body {
    box-sizing: border-box;
}

.grid {
    display: grid;
    height: 100vh;
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: repeat(3, 200px);
    grid-auto-rows: 80px;
    grid-auto-flow: column;
    grid-auto-columns: 100px;
}

.grid-item {
    background-color: #48e;
    margin: 0.5rem;
    padding: 0.5rem;
    font-size: 2.4rem;
    color: aliceblue;
}
