body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

div, body {
    box-sizing: border-box;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-auto-flow: dense;
    gap: 0.6rem;
    margin: auto;
    height: 100vh;
}

.grid-item {
    background-color: #48e;
    background-image: url(cue-yugi.jpg);
    background-size: cover;
    background-position: center;
    max-width: 100%;
    padding: 0.6rem;
    font-size: 2.4rem;
    border-radius: 1.4rem;
    color: aliceblue;
}

.grid-item:nth-child(10) {
    grid-column: span 4;
}

.grid-item:nth-child(7) {
    grid-column: span 2;
}

.grid-item:hover {
    opacity: 0.7;
}

@media screen and (max-width: 500px) {
    .grid {
        grid-template-columns: 1fr;
    }
}
