body {
    margin: 0;
    font-family: Georgia;
    box-sizing: border-box;
    background-color: #1f74ac;
    color: aliceblue;
}

div, header, nav, ul, h1, h2, p, img {
    box-sizing: border-box;
}

/*Header section*/

.header {
    min-height: 100vh;
    box-sizing: border-box;
    background-image: url(https://wallpapers.com/images/hd/yugioh-1920-x-1080-background-8ae8iaakph4af132.jpg);
    display: flex;
    background: cover;
}

.header_overlay {
    min-height: 100vh;
    min-width: 100%;
    background-color: #1f74ac6b;
    position: absolute;
    z-index: 1;
}

.header_item-container {
    position: relative;
    z-index: 10;
    margin: auto;
    text-align: center;
    max-width: 70rem;
}

.header_item-container p {
    text-wrap: pretty;
    font-size: 2rem;
}

.header_img {
    min-width: 200px;
    max-width: 40%;
    border-radius: 30%;
    border: 0.1rem solid aliceblue;
    margin: 2.3rem;
}

h1 {
    margin: 0;
    font-size: 4rem;
    text-wrap: balance;
    text-shadow: 0 1rem #0a3a5a;
}

/*---NAVBAR SECTION---*/

.nav {
    background-color: aliceblue;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0.8rem 1.3rem;
    padding-bottom: 0;
    font-family: 'Times New Roman';
    font-size: 1.5rem;
    position: sticky;
    top: 0;
    box-shadow: 0 0 1rem black;
}

.nav_ul {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}

.nav_item {
    list-style: none;
}

.nav_logo-container {
    flex-grow: 1;
    text-align: center;
}

.nav_ul-container {
    flex-grow: 9;
    text-align: center;
}

.nav_link {
    color: #1f74ac;
    text-decoration: none;
    display: inline-block;
    padding: 0.4rem 0.6rem;
    margin: 0.3rem;
    border-radius: 0.6rem;
    transition: background-color 0.5s, border-radius 0.5s, outline 0.5s, outline-offset 0.5s;
    margin: 0.1rem;
    outline: 0;
    outline-offset: 0;
}

.nav_link:hover {
    background-color: #1f74ac33;
    border-radius: 1.2rem;
    outline: 0.12rem solid #1f74ac;
}

.link--login {
    background-color: #1f74ac;
    color: aliceblue;
    border-radius: 1.2rem;
    padding: 0.5rem 1.4rem;
    margin-left: 0.4rem;
}

.link--login:hover {
    background-color: #0a3a5a;
    outline: none;
}

.nav_logo {
    width: 9rem;
    bottom: .4rem;
    position: relative;
}

main {
    max-width: 50rem;
    margin: auto;
    margin-top: 3rem;
    font-size: 1.6rem;
    text-wrap: pretty;
}

.body_inputs {
    background-color: #ccc;
}

.title_login {
    margin-top: 2rem;
    text-align: center;
    text-shadow: none;
    text-shadow: 0 0 1rem black;
    font-family: sans-serif;
}

.inputs_login {
    width: 22rem;
    margin: auto;
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 0.1rem solid black;
    border-radius: 1rem;
    background-color: #0a3a5a;
}

input {
    margin: 1rem 2rem;
    background-color: aliceblue;
    color: aliceblue;
}

input:active {
    background-color: #000;
}
