body{
    margin: 0.6rem;
    background-color: #111;
    font-family: sans-serif;
}

h1{
    text-align: center;
    color: aliceblue;
    text-shadow: 0 0 0.2rem white;
    padding: 0.7rem;
    margin: 0;
    margin-bottom: 0.5rem;
    font-family: 'Times New Roman';
    font-size: 2.3rem;
    text-transform: uppercase;
}

form{
    background-color: transparent;
    padding: 1.5rem;
    max-width: 30.5rem;
    margin: auto;
    margin-top: 4rem;
    box-shadow: 0 0 0.7rem #222;
}

.forms_inputs{
    padding: 0.4rem 1.5rem 0.4rem 1rem;
}

input, textarea{
    width: 100%;
    padding: 0.2rem;
    margin: 1rem;
    border: 0.14rem solid #222;
    border-radius: 0.3rem;
    box-shadow: 0 0 0.13rem aliceblue;
    color: #eee;
    background-color: transparent;
}

label{
    color: aliceblue;
    font-size: 1.1rem;
    line-height: 1;
    margin: 0.8rem;
    margin-bottom: 0;
    font-family: 'Times New Roman';
}

legend{
    text-transform: uppercase;
    color: aliceblue;
    margin: 0.5rem;
}

fieldset{
    margin: auto;
    margin-top: 0.9rem;
    padding: 0 1.8rem 1rem 0rem;
    border: 0.1rem solid aliceblue;
    border-radius: 0.6rem;
}

.checkbox{
    width: auto;
    height: 0.7rem;
    box-shadow: none;
    margin: 1.4rem 0 0 0.4rem;
}

.check{
    margin: 0;
}

button{
    background-color: transparent;
    font-family: Georgia;
    color: aliceblue;
    margin-top: 1rem;
    box-shadow: 0 0 0.1rem aliceblue;
    margin-left: 12rem;
}

a{
    color: #69f;
    text-decoration: none;
    text-decoration: underline;
}

.solicitud{
    padding: 1.7rem 0.6rem 1rem 0rem;
}

textarea{
    min-width: 100%;
    resize: none;
    min-height: 6.25rem;
    max-height: 12.5rem;
    margin: 0;
    margin-top: 1rem;
}
