body{
    background-color: black;
    color: aliceblue;
}

.prueba{
    background-color: chocolate;
    margin: auto;
    width: 400px;
}

h1{
    background-color: brown;
}

h2{
    background-color: yellow;
    color: black;
    margin: auto;
}

p{
    background-color: blue;
}