body{
    background-color: #0f0;
    margin: 0;
}

.box{
    width: 100%;
    height: 100px;
    margin: 20px;
    background-color: #6fa;
    background-image: url("https://i.redd.it/lrv6c8okcfn61.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background: url("https://i.redd.it/lrv6c8okcfn61.jpg") top / cover fixed #6fa;
}