* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #e2eaff;
    color: #101632dd;
}

body, div, ul, nav, header, footer, a, li, label {
    margin: 0;
    padding: 0;
}

.header {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_open-nav-button {
    color: #48e;
    font-size: 3rem;
    font-weight: 600;
    position: absolute;
    right: 10px;
}

.header_checkbox {
    display: none;
}

.header_nav {
    display: none;
    background-color: #fff;
    position: absolute;
    height: 100vh;
    width: 100vh;
    top: 0;
    z-index: -1;
}

.header_checkbox:checked ~ .header_nav {
    display: block;

}

.header-logo {
    max-width: 100%;
    width: 6rem;
    margin: 10px 20px;
}
