* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #e2eaff;
    color: #101632dd;
}

body, div, ul, nav, header, footer, a, li, label {
    margin: 0;
    padding: 0;
}

/*------HEADER SECTION------*/

.header {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    container-type: inline-size;
    container-name: header;
}

.header_open-nav-button {
    color: #48e;
    font-size: 3rem;
    font-weight: 600;
    position: absolute;
    right: 10px;
}

.header_nav-list {
    display: flex;
    flex-direction: column;
    height: 40vh;
    margin: auto;
    justify-content: space-evenly;
}

.header_checkbox {
    display: none;
}

.header_nav {
    display: none;
    background-color: #fff;
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 0;
    z-index: -1;
}

.header_checkbox:checked ~ .header_nav {
    display: flex;
}

.header-logo {
    max-width: 100%;
    width: 10rem;
    margin: 10px 20px;
}

.header_nav-item {
    list-style: none;
}

.header_nav-item a {
    color: #48e;
    text-decoration: none;
}

.header_nav-item a:is(:hover, :active) {
    text-decoration: underline;
    opacity: 0.7;
}

/*------HEADER QUERIES------*/

@container header (min-width: 600px) {
    .header_nav {
        display: flex;
        position: static;
        height: auto;
        z-index: auto;
    }

    .header_nav-list {
        flex-direction: row;
        height: auto;
        gap: 2rem;
    }

    .header_open-nav-button {
        display: none;
    }
}


/*------HEADER ENDS------*/
