* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #E5E5E5;
    color: #111111;
}

body, div, ul, nav, header, footer, a, li, label {
    margin: 0;
    padding: 0;
}

/*------HEADER SECTION------*/

.header {
    background-color: #111111;
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    container-type: inline-size;
    container-name: header;
}

.header_open-nav-button {
    color: #CFAE70;
    font-size: 3rem;
    font-weight: 600;
    position: absolute;
    right: 10px;
}

.header_nav-list {
    display: flex;
    flex-direction: column;
    height: 40vh;
    margin: auto;
    justify-content: space-evenly;
}

.header_checkbox {
    display: none;
}

.header_nav {
    display: none;
    background-color: #111111;
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 0;
    z-index: -1;
}

.header_checkbox:checked ~ .header_nav {
    display: flex;
}

.header-logo {
    max-width: 100%;
    width: 114px;
    margin: 10px 20px;
}

.header_nav-item {
    list-style: none;
}

.header_nav-item a {
    color: #CFAE70;
    text-decoration: none;
}

.header_nav-item a:is(:hover, :active) {
    text-decoration: underline;
    opacity: 0.7;
}

/*------HEADER QUERIES------*/

@container header (min-width: 600px) {
    .header_nav {
        display: flex;
        position: static;
        font-size: 1.2rem;
        height: auto;
        width: auto;
        flex-grow: 1;
        z-index: auto;
    }

    .header_nav-list {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
        gap: 3rem;
    }

    .header_open-nav-button {
        display: none;
    }

    .header_nav-item {
        padding: 0.3rem;
        transition: background-color .5s;
    }

    .header_nav-item:hover {
        background-color: #ec99001f;
        border-radius: 0.4rem;
    }
}

/*------HEADER ENDS------*/
