body{
    margin: 0;
    color: #eee;
    background: linear-gradient(to bottom, #333, #000);
}

h2{
    text-align: center;
    font-family: 'Times New Roman';
    font-size: 2rem;
    margin-bottom: 0.55rem;
    margin: 0;
    text-transform: uppercase;
    font-weight: 100;
    padding: 1rem;
}

form{
    background-color: transparent;
    padding: 1.25rem;
    max-width: 30.5rem;
    margin: auto;
    margin-top: 3.5rem;
    box-shadow: 0 0 2rem #000;
}

.form_input{
    padding: 0.625rem 1.25rem;
}

input, textarea, select{
    width: 100%;
    box-sizing: border-box;
    padding: 0.375rem 0.75rem;
    border: none;
    border: 0.06rem solid #666;
    box-shadow: 0 0 0.1rem #eee;
    background-color: transparent;
    border-radius: 0.6rem;
    color: #eee;
}

option{
    background-color: #222;
    margin: 0;
}

textarea{
    min-width: 100%;
    resize: none;
    min-height: 6.25rem;
    max-height: 12.5rem;
    font-family: 'Times New Roman'; 
}

label{
    font-size: 0.9rem;
    line-height: 2.5;
}

.chekbox{
    width: auto;
    height: 0.55rem;
    box-shadow: none;
}

button{
    margin-left: 13rem;
    margin-top: 2rem;
    box-shadow: 0 0 0.1rem whitesmoke;
    background-color: transparent;
    border: 0.17rem ridge #777;
    color: #eee;
}

fieldset{
    border-radius: 0.6rem;
    border: 0.15rem ridge #666;
    padding: 0 0.5rem 1rem 0.5rem;
}

legend{
    padding: 0;
    color: #777;
}
