body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

div, body {
    box-sizing: border-box;
}

.grid {
    display: grid;
    height: 100vh;
    grid-template-columns: repeat(2, minmax(100px, 300px)) 1fr;
    grid-template-rows: repeat(2, 200px) 1fr;
}

.grid-item {
    background-color: #48e;
    margin: 0.5rem;
    padding: 0.5rem;
    font-size: 2.4rem;
    color: aliceblue;
}
