body{
    margin: 0;
}

.box{
    width: 280px;
    background: #e2e2e2;
    margin: auto;
    margin-top: 30px;
    box-shadow: 0 0 50px 0 orange;
    font-family: sans-serif;
    box-sizing: border-box;
    padding: 20px;
    padding-top: 10px;
    color: #444;
    text-align: center;
}

h2{
    text-shadow: 0 0 12px orangered;
    font-size: 20px;
    text-align: left;
}

p{
    list-style: none;
    text-align: justify;
    line-height: 1.5;
    font-size: 13px;
    text-shadow: 0 0 6px black;
}

img{
    width: 200px;
    margin: auto;
    filter: drop-shadow(0 0 15px #000);
}