body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

div, body {
    box-sizing: border-box;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-template-rows: repeat(3, 200px);
    grid-auto-rows: 150px;
    grid-auto-flow: row;
    grid-auto-columns: 1fr;
    gap: 0.6rem;
    margin: auto;
    margin-top: 30px;
}

.grid-item {
    background-color: #48e;
    padding: 0.6rem;
    font-size: 2.4rem;
    color: aliceblue;
}

@media screen and (max-width: 500px) {
    .grid {
        grid-template-columns: 1fr;
    }
}
