body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

div, body {
    box-sizing: border-box;
}

nav, header, footer, aside, main {
    padding: 20px;
    border: 2px solid black;
}

.grid {
    display: grid;
    grid-template-columns: minmax(200px, 1fr) minmax(300px, 1fr) minmax(200px, 1fr);
    grid-template-rows: auto 1fr auto;
    grid-auto-flow: dense;
    gap: 0.6rem;
    margin: auto;
    padding: 10px;
    min-height: 100vh;
    grid-template-areas: 
    "header header header"
    "nav main aside"
    "footer footer footer";
}

header {
    grid-area: header;
    background-color: #e68013;
    color: #fff;
    border-color: #e68013 ;
    text-align: center;
}

nav {
    grid-area: nav;
}

main {
    grid-area: main;
}

aside {
    grid-area: aside;
}

footer {
    grid-area: footer;
    background-color: black;
    color: aliceblue;
    text-align: center;
}

nav, aside {
    position: sticky;
    top: 0;
    height: 100vh;
}

@media screen and (max-width: 500px) {
    .grid {
        grid-template-columns: 1fr;
    }
}
