body{
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}

.contenido_principal{
    display: flex;
}

.div_block{
    padding: 1.7rem;
    background-color: #999;
    margin-left: 20rem;
    margin-top: 3rem;
    width: 22rem;
    height: auto;
}

.enlace{
    background-color: red;
    color: #fff;
    display: block;
    border: 0.1rem solid black;
    margin: 1.8rem;
    padding: 1rem;
}

.div_inline{
    padding: 1.7rem;
    border: 0.3rem solid #48f;
    margin: 0.7rem;
    width: 15rem;
    height: 40rem;
}

p{
    background-color: black;
    color: white;
    margin: 0.2rem;
    display: inline;
}

.nav{
    background-color: #48f;
}

.nav_list{
    margin: 0;
}

.nav_item{
    display: inline-block;
}

.nav_link{
    color: aliceblue;
    text-decoration: none;
    font-size: 1.5rem;
    display: inline-block;
    padding: 1.4rem;
    background-color: #48f;
}

.nav_link:hover{
    background-color: #59e;
}

.link--button{
    border: #48f;
    border: 0.1rem solid white;
    background-color: white;
    color: #48f;
    padding: 0.5rem 1rem;
    border-radius: 0.3rem;
    margin-left: 2rem;
}

.link--button:hover{
    background-color: transparent;
    color: white;
}
