body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

div, body {
    box-sizing: border-box;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-auto-rows: 1fr;
    grid-auto-flow: row;
    grid-auto-columns: 1fr;
    gap: 0.6rem;
    margin: auto;
    padding: 10px;
}

.grid-item {
    background-color: #46e;
    max-width: 100%;
    padding: 0.6rem;
    font-size: 2.4rem;
    border-radius: 1.4rem;
    color: aliceblue;
}

.grid-item:first-child {
    grid-column: 1/span 2;
    grid-row: 1/span 2;
    background-image: url(Reco-small.jpg);
    background-size: cover;
    background-position: center;
}

.grid-item:hover {
    opacity: 0.7;
}

@media screen and (max-width: 500px) {
    .grid {
        grid-template-columns: 1fr;
    }
}
