body {
    margin: 0;
    font-family: 'Lucida Sans';
}

div, body {
    box-sizing: border-box;
}

.grid {
    display: grid;
    height: 80vh;
    grid-template-columns: 1fr auto 300px;
    grid-template-rows: auto auto;
}

.grid-item {
    background-color: #48e;
    margin: 0.5rem;
    padding: 0.5rem;
    font-size: 2.4rem;
    color: aliceblue;
}
