body {
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    background-color: #ccc;
}

div, body {
    box-sizing: border-box;
}

.flexbox {
    display: flex;
    flex-flow: row wrap;
    border: 0.1rem solid black;
    margin: 1.5rem;
    justify-content: space-evenly;
    height: 10rem;
    align-items: center;
    background-color: #fff;
}

.flex-item {
    background-color: #800;
    color: aliceblue;
    font-size: 2.6rem;
    text-align: center;
    direction: rtl;
    width: 7rem;
    order: 2;
}

.flex-item:first-child{
    background-color: #180;
    order: 2;
}

.flex-item:last-child {
    background-color: black;
    order: 1;
}
