* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #ccc;
}

.crecedor {
    height: 100vh;
}

/*En animation timeline puede ir view()*/

.box {
    view-timeline: --cajita block;
    background-color: #48e;
    padding: 20px;
    animation: llenar-barra;
    animation-timeline: --cajita;
}



@keyframes llenar-barra {
    from {
        width: 0%;
        background-color: #f33;
    }
    to {
        width: 100%;
    }
}
