.lista{
    border: 0.2rem solid black;
}

.lista--vieja{
    opacity: 0.5;
    background-color: #ddd;
}

.lista__item{
    color: grey;
    margin: 0.8rem 0;
    list-style: square; 
}

.item--danino{
    color: red;
}

.item--importante{
    color: blue;
}
